<!DOCTYPE html>
<html>
<head>
  <title>Centable</title>
  <%= stylesheet_link_tag    "centable/application", media: "all" %>
  <%= javascript_include_tag "centable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
